*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	

	font-family: sans-serif;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

}

.product-card{
	background-color: #fff;
	padding: 18px;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.card-tag{
	background-color: 	#6cbdff;
	padding: 5px 10px;
	
	border-radius: 2px;
}
.card-header{
	padding: 30px 50px;
	text-align: center;
}
.card-header img{
	max-height: 200px;
}
.product-title{
	font-size: 24px;
	color: #353535;
	margin: 20px 0;
}

.product-description{
	color: #808080;
	
}
.product-prices{
	
	color: #353535;
	margin: 10px 0;
    padding-bottom: 20px;
}
.card-footer{
	display: flex;
	justify-content: space-between;
}

.btn{
	padding: 10px 40px;
	border: none;
	font-family: inherit;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	width: 100%;
}


.btn-primary{
	background-color: 	#1F74BA;
    
	color: #fff;
}
.btn-primary:hover{
	background-color: 	#6cbdff
}


.btn-secondary{
	color: #808080;
}
.btn-secondary:hover{
	background-color: #9B9090;
	color: white;
}


.card-footer .btn:first-child{
    margin-top: 10px;
	margin-right: 15px;
}
